:root {
    --main-color: #193C5E;
    --secondary-color: white;
    --shadow-color: rgba(0, 0, 0, 0.2)
}

* {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 150%;
}

#main {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    min-height: 100vh;
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 2fr;
}

@media screen and (max-width: 600px) {
    #main {
        grid-template-columns: 100%
    }
}

h1, h2 {
    text-align: center;
}

h3 {
    text-transform: uppercase;
}

h1 {
    text-transform: uppercase;
}

p, li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

figure {
    margin: 2em 0 1em 0;
    text-align: center ;
}

#sidebar {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

#sidebar h3 {
    text-align: center;
}

#mainpage {
    background-color: var(--secondary-color);
    padding: 2rem;
}

#mainpage h3 {
    background-color: var(--main-color);
    color: var(--secondary-color);
    display: inline-block;
    padding: 0.2em 0.5em 0.2em 0.5em;
    margin: 0.6em 0 0.6em 0;
    border-radius: 10px;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

figcaption {
    margin: 1rem;
}

table#skill {
    width: 80%;
    margin: auto;
}

ul#contact {
    list-style-type: none;
    padding-left: 0;
    color: var(--secondary-color);
}

ul#contact li {
    margin: 2rem 0 2rem 0;
}

span.info {
    font-size: small;
}

ul#contact a, ul#contact a:active, ul#contact a:visited {
    color: var(--secondary-color);
    text-decoration: underline;
    
}

ul#contact .icon {
    width: 1.5rem;
    display: inline-block;
    text-align: right;
    background-color: var(--secondary-color);
    color: var(--main-color);
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    border-radius: 0 0.7rem 0.7rem 0;
    margin-right: 2rem;
}

.progress {
    display: inline-block;
    width: 10em;
    height: 1em;
    border: 1px solid black;
    background-color: black
}

.level4, .level5 {
    display: inline-block;
    background-color: var(--secondary-color);
    height: 100%;
}

.level4 {
    width: 80%;
}

.level5 {
    width: 100%;
}

@media screen and (max-width: 600px) {
    #main {
        grid-template-columns: 100%
    }

    #mainpage h3 {
        display: block;
        text-align: center;
    }
}