:root {
    --bg-color: rgba(0, 0, 0, 0.7);
    --secondary-color: #ffc107;
    --secondary-hover-color: #ffa000;
    --primary-color: whitesmoke;
    --input-color: rgba(255, 255, 255, 0.7);
    --submit-color: #3D52D5;
}

body, input, textarea, select, button { 
    font-family: 'Play', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: url("bg-3840x2160.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 20px;
}

input, textarea, select, button {
    font-size: 16px;
}

main {
    width: 80vmin;
    height: 80vmin;
    background-color: var(--bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--primary-color);
    padding: 2rem;
    overflow-y: scroll;
}

div.label {
    width: 100%;
    text-align: left;
    margin-top: 1rem;
}

div.input {
    width: 100%;
}

input.field, textarea, select {
    width: 100%;
    background: none;
    padding: 0.5rem;
    color: var(--primary-color);
    border: 2px var(--secondary-color) solid;
}

input:hover, textarea:hover, .align-left:hover, select:hover {
    border-color: var(--secondary-hover-color);
}

input.field:active, input.field:focus, textarea:active, textarea:focus {
    background: var(--primary-color);
    color: black;
}

select {
    width: 100%;
}

option {
    color: black;
}

.align-left {
    text-align: left;
    border: 2px solid var(--secondary-color);
}

#submit {
    margin-top: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 0;
    background-color: var(--secondary-color);
    cursor: pointer;
}

#submit:hover {
    background-color: var(--secondary-hover-color);
}

@media screen and (max-width: 600px) {
    #main {
        width: 100%;
        height: 100%;

    }

    #submit {
        width: 100%;
    }
}