:root {
    --header-color: whitesmoke;
    --cover-color: #9BC95D;
    --dark-color: #333;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body, input, textarea, select, button { 
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-transform: uppercase;
}

#header {
    height: 4rem;
    width: 100%;
    background-color: var(--header-color);
    position: fixed;
    top: 0;
}

#header img {
    height: 4rem;
}

/* dirty hack https://css-tricks.com/hash-tag-links-padding/ */
h1, h2 { 
    margin-top: -4rem; 
    padding-top: 4rem; 
    display: inline-block;
  }

#cover {
    margin-top: 4rem;
    height: 20rem;
    width: 100%;
    background: var(--cover-color) url("https://gitlab.com/lelovicseniko/freecodecamp-projects/raw/master/01-03-landing-page/bg3.jpg") no-repeat right bottom;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto 17em;
    color: var(--header-color);
}

#form-div {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
}

div#logo {
    display: flex;
    align-items: center
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--dark-color);
    font-weight: bolder;
}

.middle {
    margin: auto;
    width: 80%;
    max-width: 1200px;
}

#ad {
   padding-top: 2rem;
   padding-bottom: 2rem; 
   background-color: var(--header-color);
}

#packs {
    background-color: var(--cover-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--header-color);
}

#footer {
    background-color: var(--dark-color);
    color: var(--header-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#submit {
    margin-top: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 0;
    background-color: var(--header-color);
    color: var(--dark-color);
    cursor: pointer;
    display: block;
}

#submit:hover {
    background-color: var(--dark-color);
    color: var(--header-color);
}

.pack {
    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 2rem;
}

.pack p {
    text-align: left;
}

.pack p.price {
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

#video {
    max-width: 100%;;
}

@media screen and (max-width: 600px) {
    .middle {
        width: 90%;
    }

    #cover {
        background: var(--cover-color) url("https://gitlab.com/lelovicseniko/freecodecamp-projects/raw/master/01-03-landing-page/bg3.jpg") no-repeat center center;
    }

    .pack {
        width: 100%;
    }
}